html, body {
  margin: 0;
  padding: 0;
  // background: #282c34;
  background: black;
  
  // background: url(https://i.redd.it/b6y0z6cnorf51.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: bottom;
  overflow: hidden;
}

.monitor-panel {
  background-color: whitesmoke;
  color: black;
}

.btn-group {
  transform: translateX(-50%);
}

.color-panel {
  padding: 0.5em;
  background-color: aliceblue;
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .color-block {
    margin: 0 0.5em;
    width: 30px;
    height: 30px;
  }
}

.title-btn {
  position: absolute;
  font-size: 48px;
  color: black;
  text-align: center;
  background-color: white;
  transition: letter-spacing 0.5s;
}

.title-btn:hover {
  font-size: 56px;
  letter-spacing: 6px;
  text-decoration: underline;
}